
<div class="row">
  
  <div class="col-md-6 col-md-offset-3">
    <h3>Donate to <%=@ngo.name %></h3>
    
    <%= form_with(url: donate_makepayment_path, method: "post") do |f| %>

      <%= f.hidden_field :from_ngo, value: params[:id] %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', :required => true %>
      
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: 'form-control', :required => true %>
      
      
      <%= f.label "TIN" %>
      <%= f.text_field :tin, class: 'form-control' %>
      
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control', :required => true %>
      
      <%= f.label "Amount in pesos" %>
      <%= f.number_field :amount, pattern: "[0-9]{10}", class: 'form-control', :required => true %>
      
      <%= f.label :card_number %>
      <%= f.number_field :card_number, pattern: "[0-9]{19}", class: 'form-control', :required => true %>

      <%= f.label :expiration %>
      <%= f.text_field :expiration, class: 'form-control', :required => true %>

      <%= f.label :cvc %>
      <%= f.number_field :cvc, pattern: "[0-9]{3}", class: 'form-control', :required => true %>

      <%= f.submit "Donate", class: "btn btn-primary" %>
    <% end %>
    
    <br>
    
    <%= link_to 'Back', ngo_path, method: :get %>
  </div>
  
</div>