<% provide(:title, 'New NGO') %>
<h1>Add NGO</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@ngo, url: "/ngos", method: "post") do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label "BIR Certification Number" %>
      <%= f.text_field :bir_cert_no, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.submit "Add NGO", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>