<p>
  <strong>Name:</strong>
  <%= @ngo.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format(@ngo.description) %>
</p>

<p>
  <strong>BIR Certification Number:</strong>
  <%= @ngo.bir_cert_no %>
</p>

<%= button_to 'Donate', ngos_donate_path, method: :get, class: "btn btn-primary" %>

