<% provide(:title, "Home") %>
<h1>Welcome</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% @ngos.each do |ngo| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <h5><%= ngo.name %></h5>
          <%= button_to 'Show', ngo, class:"btn btn-sm btn-primary", method: :get %>
        </div>
      </div>
    <% end %>
  </div>  
</div>



