<% provide(:title, 'New Project') %>
<h1>Add Project</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@project, url: "/projects", method: "post") do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :short_description %>
      <%= f.text_field :short_desc, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.submit "Add Project", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>