<footer class="footer">
  <small>
    © Buwis Information Technology, Inc. <br> EIN 30-1147902
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>