<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "CARITAX", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right" style="bg-color: #FFFFFF">
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Explore",    '#' %></li>
        <li><%= link_to "Partners",    partners_path %></li>
        <li><%= link_to "Updates",    '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>